<header class="site-header">
  <h1><a href="/">Eschelberg</a></h1>
  {% assign url_parts = page.url | split: '/' %}
  {% assign url_root = url_parts[1] %}
  {% assign pages = site.pages | reverse %}
  <ul>
  {% for node in pages %}
    {% assign node_url_parts = node.url | split: '/' %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% if node_url_parts_size == 2 %}
      {% assign node_root = node_url_parts[1] %}
      {% unless node.url contains '.html' %}
        <li {% if url_root == node_root %}class="active"{% endif %}><a href='{{node.url}}'>
          {{node.title}}
      </a></li>
      {% endunless %}
    {% endif %}
  {% endfor %}
  </ul>

</header>
